<!DOCTYPE html>
{{> head }}
<body>
	<div class="container">
		<h1 class="title">YOUTUBE PARTY</h1>
		<br>
		<div class="container" id="playerDiv">
			<div id=player>player</div>
		</div>

		<script type="text/javascript" src="../js/ytplayer.js"></script>
	</div>
</body>
</html>