<!DOCTYPE html>
{{> head }}
<body>
	<div class="container">
		<h1 class="title">YOUTUBE PARTY</h1>
		<br>
		<div class="container" id="playerDiv">
			<div id=player>player</div>
		</div>
		<br>
		<div class="container">
			<form action="" method="post" onsubmit="return submitSearch();">
				<input type=url name=ytURL id="searchBox">
				<input type=submit value="Submit">
			</form>
		</div>
		<script type="text/javascript" src="../js/ytplayer.js"></script>
	</div>
	{{> clientList this}}
</body>
</html>
